<!DOCTYPE html>

<html>

<head>
<title> Occupations with % </title>
</head>

<body>
  
<h1> Table with Occupations and Corresponding Percentages </h1>

{% for i in collection %}
{% if theOne <(10*collection[i] + ctr) %}
{{i}}
{% else %}
{% set ctr = ctr + (10 * collection[i]) %}
{% endif %}
{% endfor %}

<table border="1">

{% for item in collection %}
<!-- Making rows in table -->
  <tr>
  <td> {{item}} </td>
  <td> {{collection.get(item)}} </td> <!-- Gets value of key -->
  </tr>
{% endfor %}
</table>

</body>

</html>
